@model EntityLayer.Concrete.Contact				

<div class="col-md-9 contact-middle">
					<h2>Merhaba De</h2>
					@using(Html.BeginForm("MessageSend","Default",FormMethod.Post)){

					<div class="form-agileinfo">
						<p>Ad</p>
						<input type="text" placeholder="Adınız" asp-for="Name" />
						<p>Mail Adresi</p>
						<input type="email" placeholder="Mail Adresiniz" asp-for="Mail" />
					</div>
					<div class="form-agileits-w3layouts">
					<p>Yorum</p>
						<textarea placeholder="Yorumunuz" asp-for="Comment" ></textarea>
							<input type="submit"  value="Gönder">
					</div>
					<div class="clearfix"></div>
					}
				</div>