@model EntityLayer.Concrete.Image
@{
    ViewData["Title"] = "UpdateImage";
    Layout = "~/Views/Shared/LayoutAdminPage.cshtml";
}

<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Görsel Günceleme Sayfası</h4>
                  <form class="forms-sample" method="post">
                     @Html.HiddenFor(x =>x.ImageID)
                    <div class="form-group">
                      <label for="exampleInputName1">Başlık</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Başlık" asp-for="Title">
                      <span asp-validation-for="Title" class="text-info"></span>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail3">Görsel Yolu</label>
                      <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Dosya Yolu" asp-for="ImageUrl">
                      <span asp-validation-for="ImageUrl" class="text-info"></span>
                    </div>
                    <div class="form-group">
                      <label for="exampleTextarea1">Açıklama</label>
                      <textarea class="form-control" id="exampleTextarea1" rows="4" placeholder="Açıklama" asp-for="Description"></textarea>
                      <span asp-validation-for="Description" class="text-info"></span>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Güncelle</button>
                  </form>
                </div>
              </div>
            </div>

