@using EntityLayer.Concrete
@model List<Admins>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutAdminPage.cshtml";
}
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Görsel Sayfası</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                            <th>#</th>
                            <th>Kullanıcı Adı</th>
                            <th>Şifre</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                      </thead>
                      <tbody>
                        @foreach (var item in Model)
                        {
                             <tr>
                               <td>@item.AdminsId</td>
                               <td>@item.UserName</td>
                               <td>@item.Password</td>
                               <td><a href="/Admin/DeleteAdmin/@item.AdminsId" class="btn btn-outline-danger">Sil</a></td>
                               <td><a href="/Admin/UpdateAdmin/@item.AdminsId" class="btn btn-outline-primary">Güncelle</a></td>
                              </tr>
                        }
                      </tbody>
                    </table>
                    <br />
                    <a href="/Admin/AddAdmin" class="btn btn-outline-success">Admin Ekle</a>
                  </div>
                </div>
              </div>
            </div>
