@model EntityLayer.Concrete.Personels
@{
    ViewData["Title"] = "AddPersonel";
    Layout = "~/Views/Shared/LayoutAdminPage.cshtml";
}

<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Personel Ekleme Sayfası</h4>
                  <form class="forms-sample" method="post">
                    <div class="form-group">
                      <label for="exampleInputName1">Persoenl Adı</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Personel Ad" asp-for="PersonelName">
                      <span asp-validation-for="PersonelName" class="text-info"></span>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail3">Görev</label>
                      <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Persoenlin Görevi" asp-for="Title">
                      <span asp-validation-for="Title" class="text-info"></span>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail3">Görsel URL</label>
                      <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Görsel URL" asp-for="ImageUrl">
                      <span asp-validation-for="ImageUrl" class="text-info"></span>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail3">Facebook URL</label>
                      <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Facebook URL" asp-for="FacebookUrl">
                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail3">Instagram URL</label>
                      <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Instagram URL" asp-for="IntagramUrl">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail3">WebSite URL</label>
                      <input type="text" class="form-control" id="exampleInputEmail3" placeholder="WebSite URL" asp-for="WebsiteUrl">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail3">Twitter URL</label>
                      <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Twitter URL" asp-for="TwitterUrl">
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Ekle</button>
                  </form>
                </div>
              </div>
            </div>

